/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* body styles */
body{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button{
    padding:0.3rem;
    border-radius: 1rem;
    border:none;
    width:fit-content;
}

/* header styles */
.header{
    display: flex;
    background-color: #fca311;    
}

.header__title{
    font-size: 2.5rem;
    font-weight: 900;
}

/* map styles */
div.map{
    position: relative;
    flex-grow: 1;
}

/* store marker */
.marker--highlight{
    filter:hue-rotate(45deg);
}

/* result container styles */
.result-container{
    position:absolute;
    left:10px;
    top:130px;
    height:75vh;
    width:25vw;
    z-index:9999;
    border-radius:1rem;
    background-color:#e5e5e5;

    display: flex;
    flex-direction: column;
    align-items:center;
    padding:10px;
    gap:10px;
    overflow-y: scroll;
}
.result-container--hiden{
    display: none
}

/* store search result */
.store-search-result,.product-search-result{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    align-items: center;
}

/* store styles */
.store{
    position: absolute;
    top: 130px;
    right: 10px;
    background-color: #ffffff;
    /* padding: 10px; */
    border-radius: 1rem;
    z-index: 9999;
}

.store_header{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 1fr);
    background-color: #14213d;
    color:white;
    padding: 0.5rem;
}
.store_products-title{
    text-align: center;
}

.store_products-table{
    border-collapse: separate;
    border-spacing: 1rem;
}

.background-higlight{
    background-color: #fca311;
}

.price-history{
    position: absolute;
    z-index: 9999;
    bottom:100px;
    right:10px;
    width: 300px;
    background-color: #ffffff;
}

.price-history_header{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    background-color: #14213d;
    color:#ffffff;
    padding: 10px;
}

.price-history_btn-close{
    height: fit-content;
}