/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* body styles */
body{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header styles */
.header{
    display: flex;
    background-color: #fca311;    
}

.header__title{
    font-size: 2.5rem;
    font-weight: 900;
}

/* map styles */
div.map{
    background-color: aqua;
    position: relative;
    flex-grow: 1;
}
